<div class="col-md-4 col-md-offset-4">
  <ul class="pagination">
    <% options ||= {} %>
    <%= arrow_left %>
    <%= pages(collection, options) %>
    <%= arrow_right(collection, options) %>
  </ul>
</div>
