<div class="col-md-4 col-md-offset-4" id="record-table">
	<table class="table table-striped table-bordered table-hover record-detail">
		<thead>
			<th>Record</th>
			<th>OS</th>
			<th>Browser</th>
			<th>Time Created</th>
		</thead>
		<% users[page_index].each do |u| %>
		<tr>
			<td><%= link_to "#{u.id}", user_path(u.id) %></td>
			<td><%= u.operating_system %></td>
			<td><%= u.browser %></td>
			<td><%= u.created_at.localtime %></td>
		</tr>
		<% end %>
	</table>
</div>
