<div id="record-table" border="1" style="width:300px">
	<% @users.each do |u| %>
		<p class="center-text"><a class="record" href="#"><%= "#{u.id} - #{u.updated_at}" %></a>
		<div class="collapse-group"></div>
		</p>
		<table class="table table-striped table-bordered table-hover record-detail" border="1" style="width:300px">
			<thead>
				<tr>
					<th>Name</th>
					<th>Surname</th>
					<th>Telephone</th>
				</tr>
			</thead>
			<tr>
				<td><p><%= u.company %></p></td>
				<td>Sales</td>
				<td>555-5555</td>
			</tr>
		</table>
	<% end %>
</div>
