<div class="text-center">
	<h1><%= @company %></h1>
	<h3>Most Common Operating System: <%= @metadata[:common_os] %></h3>
	<h3>Most Common Browser: <%= @metadata[:common_browser] %></h3>
</div>

<%= render "recordtable", users: @users %>
