<div id="container">
	<div class='hidden' id='user_id'><%= @user.id %></div>
	<div class='hidden' id='user_ip_address'><%= @user.ip_address %></div>
	<div>
		<div class='row'>
			<div class='col-md-4 col-md-offset-4 text-center' id='main-content'>
				Done! You're all set. Please feel free to close this window.
			</div>
		</div>
	</div>
</div>
