// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	padding-top: 90px;
}

footer img {
	padding-left: 49%;
  	z-index: -1;
}

.record-detail {
	margin: 0 auto;
}

.record-detail {
	margin-bottom: 10px;
}

#main-content {
	padding: 250px 0;
}

#connection-table {
	padding-top: 20px;
}
